{% extends "header.html" %}
{% block content %}
<br><br>
<div class="row">
     <div class="col text-center" style="color:darksalmon">
        <h1>Hey, {{ current_user.username }}!</h1>
    </div>
    {% if image %}
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{ image }}" alt="image">
    </div>
    {% endif %}
    <br><br>
   
</div>

<a href="{{ url_for('users.user_detail', username=current_user.username) }}">
    <h4 style="color:darksalmon">Click here to see all of your posts and comments!</h4>
</a>

<div class="row" style="color:darksalmon">
    <div class="col">
        <form action="" method="post">
            {{ username_form.csrf_token }}
            <div class="form-group">
                {{ username_form.username.label(class="form-control-label") }}
                {{ username_form.username(class="form-control form-control-lg") }}

                {% if username_form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in username_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ username_form.submit1(class="form-control") }}
            </div>
        </form>
    </div>
</div>

<div class="row" style="color:darksalmon">
    <div class="col">
        <form action="" method="post">
            {{ password_form.csrf_token }}
            <div class="form-group">
                {{ password_form.password.label(class="form-control-label") }}
                {{ password_form.password(class="form-control form-control-lg") }}

                {% if password_form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in password_form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}

                {{ password_form.new_password.label(class="form-control-label") }}
                {{ password_form.new_password(class="form-control form-control-lg") }}

                {% if password_form.new_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in password_form.new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}

                 {{ password_form.confirm_password.label(class="form-control-label") }}
                {{ password_form.confirm_password(class="form-control form-control-lg") }}

                {% if password_form.confirm_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in password_form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
            <div class="form-group">
                {{ password_form.submit2(class="form-control") }}
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col" style="color:darksalmon">
        <form action="" method="post" enctype="multipart/form-data">
            {{ profile_pic_form.csrf_token }}
            <div class="form-group">
                {{ profile_pic_form.propic.label(class="form-control-label") }}
                {{ profile_pic_form.propic(class="form-control form-control-lg") }}

                {% if profile_pic_form.propic.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in profile_pic_form.propic.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ profile_pic_form.submit3(class="form-control form-control-lg") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}>