{% extends "header.html" %}
{% block content %}
<br><br>
<div>
	<h1 style="color: darksalmon;">About the site!</h1>
	<br>
	<p>
	This site allows you to search and select cat breeds.
	Once a cat breed is selected, users are able to read facts
	about the breed they selected. Users can also comment on cat breeds.
	<br><br>
	In order to comment on a cat breed, users must register for an account
	and use their username to login. Once users have logged in, they will
	have access to their account page where they can change their username, 
	upload a profile picture and view all their previous comments.
	<br><br>
	Users will be notified via email when they register and/or update their
	password.
	</p>
	<br>
	<h5 style="color: darksalmon;">Collaborators</h5>
	<p>Jessica Qin, Soo Oh, Non Nonceeya, Kavya Dagli</p>
</div>
<footer class="fixed-bottom align-items-center" >
        <span style="font-size: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;" id="cat-border"></span>
</footer>
{% endblock content %}
