{% extends "header.html" %}
{% block content %}
<br><br>
<div class="row">
    {% if image %}
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{ image }}" alt="image">
    </div>
    {% endif %}
    <br><br>
    <div class="col text-center" style="color:darksalmon">
        <h2>{{ username }}'s Reviews</h2>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col">
        <h1> Reviews <small class="float-right">{{ reviews.count() }} Reviews</small></h1>
        <ul class="media-list">
            {% for review in reviews %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ review.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('features.cat_detail', cat_name=review.cat_name) }}">
                            {{ review.cat_name }}
                        </a>
                    </strong>
                    <p>
                        {{ review.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
            <h1> Proposed Images <small class="float-right">{{ pim|length }} Proposed Images</small></h1>
        <ul class="media-list">
            {% for key,value in pim.items() %}
            <li class="media review-item">
                <div class="media-body">
                    <strong><a href="{{ url_for('features.cat_detail', cat_name=key) }}">{{ key }}</a>
                    </strong>
                    <p>
                        <img height="100px;" width="100px" src="data:image/png;base64,{{ value }}" alt="image">
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<footer class="fixed-bottom align-items-center" >
        <span style="font-size: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;" id="cat-border"></span>
</footer>
{% endblock %}